---
Title: Math Example
---
```vada
@assert: 1 + 2 == 3
@assert: 4 - 1 == 3
@assert: 2 * 2 == 4
@assert: 4 / 2 == 2.0
@assert: 4 % 2 == 0
@assert: 4 ^ 2 == 16
@assert: 1 .> 2 == 4 // MATH
@assert: @math::pi * 2 == @math::tau
```