
// $bg: #525252;
// $bg: #252525;
// $bg: #1e1622;
$bg: #22161a;


// $card-dark: #333333;
// $card-dark: #1d1820;
// $card-dark: #261e2c;
$card-dark: #2c1e23;

$cdo: #6e3f43;

// $card-dark-outline: #777 solid 1px;
$card-dark-outline: $cdo solid 1px;
// $cdo: #35303a;

// $text-primary: #D1D1D1;
$text-primary: #f7f1f1;
$text-fade: #bebdbd;

$wine-dark: #22161a;
$wine-light: #2c1e23;
$wine-outline: #6e3f43;
$wine-highlight: #8f5459;

$mint-dark: #141E21;
$mint-darker: #0d161a;

$mint-outline: #42656E;
$mint-mid: #163035;
$mint-mild: #4daa8d;

$mint-light: #8ce9cb;
$mint-lighter: #53ffda;

$highlight-yello: #f5f568;


